{% extends 'blog/base.html' %}

{% block content %}

    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{% url 'blog:posts-by-category' object.category.name %}">{{ object.category }}</a>
          <a class="mr-2" href="{% url 'blog:posts-by-author' object.author.pk %}">{{ object.author }}</a>
          <small class="text-muted">{{ object.date|date:'F d, Y' }}</small>
            <div>
                {% if object.author == user %}
                    <a class='btn btn-secondary btn-sm mt-1 mb-1' href="{% url 'blog:post-update' object.id %}">Edytuj</a>
                    <a class='btn btn-danger btn-sm mt-1 mb-1' href="{% url 'blog:post-delete' object.id %}">Usuń</a>
                {% endif %}
            </div>
        </div>
        <h2 class="article-title">{{ object.title }}</h2>
        <p class="article-content">{{ object.intro }}</p>
        <p class="article-content">{{ object.content }}</p>

          {% for image in images %}
          <img src="{{ image.image.url }}" height="500" width="700">
          {% endfor %}

      </div>
    </article>

{% endblock content %}